<form action="/battle">
  <div class="form-group">
     <label for="play1">Player 1</label>
     <input id="play1" name="play1" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="play2">Player 2</label>
     <input id="play2" name="play2" class="form-control" type="text">
  </div>
  <br>
  <button type="submit" class="btn btn-info">Who_Wins?</button>
</form>
